@model IEnumerable<RestaurantDB.Models.FoodMenu>

@{
    ViewData["Title"] = "Drinks";
}

<h1>Drinks</h1>



@if (Model.Count() == 0)
{
    <h2>Your search did not fetch any results</h2>
}

else 
{
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width:20cm;margin:10px;">

            <img src = "@item.PhotoPath" class="card-img-top">
            <div class="card-body">
                <div class="card-title">
                    <h2>@item.FoodName</h2>
                </div>
                <div class="card-text">
                    <p>@item.Category</p>
                    </div>
                    <div class="card-text">
                    <p>@item.Description</p>
                    </div>
                    <div class="card-text">
                    <p>@item.Price</p>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.FoodMenuID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.FoodMenuID" class="btn btn-primary">Delete</a>

            </div>
            </div>
    }
</div>
}



