@model IEnumerable<RestaurantDB.Models.FoodMenu>

@{
    ViewData["Title"] = "Menu";
}
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<h1>Menu</h1>
<div style="text-align:center;">
    <a asp-controller="FoodMenus" asp-action="Entrees">Entrees</a>
    &ensp;
    &ensp;
    &ensp;
    <a asp-controller="FoodMenus" asp-action="Mains">Mains</a>
    &ensp;
    &ensp;
    &ensp;
    <a asp-controller="FoodMenus" asp-action="Deserts">Deserts</a>
    &ensp;
    &ensp;
    &ensp;
    <a asp-controller="FoodMenus" asp-action="Drinks">Drinks</a>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    @using(Html.BeginForm("Index","FoodMenus",FormMethod.Get))
    {
        <b>Search By:</b> @Html.RadioButton("searchBy","FoodName", true) <text>Food Name</text>
        @Html.RadioButton("searchBy","Category") <text>Category</text> <br />
        @Html.TextBox("search") <input type="submit" value="Search" />        
    }

</p>

@if (Model.Count() == 0)
{
    <h2>Your search did not fetch any results</h2>
}

else 
{
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-lg-3" style="margin:10px;">

            <img src = "@item.PhotoPath" class="card-img-top">
            <div class="card-body">
                <div class="card-title">
                    <h2>@item.FoodName</h2>
                </div>
                <div class="card-text">
                    <p>@item.Category</p>
                    </div>
                    <div class="card-text">
                    <p>@item.Description</p>
                    </div>
                    <div class="card-text">
                    <p>@item.Price</p>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.FoodMenuID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.FoodMenuID" class="btn btn-primary">Delete</a>

            </div>
            </div>
    }
</div>
}
</html>


