@model IEnumerable<RestaurantWebApp.Models.FoodMenu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width:20cm;margin:10px;">

            <img src = "@item.PhotoPath" class="card-img-top">
            <div class="card-body">
                <div class="card-title">
                    <h2>@item.FoodName</h2>
                </div>
                <div class="card-text">
                    <p>@item.Category</p>
                    </div>
                    <div class="card-text">
                    <p>@item.Description</p>
                    </div>
                    <div class="card-text">
                    <p>@item.Price</p>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.FoodMenuID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.FoodMenuID" class="btn btn-primary">Delete</a>

            </div>
            </div>
    }
</div>


@*
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodMenuID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodMenuID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodMenuID">Delete</a>
            </td>
        </tr>*@






