@model IEnumerable<RestaurantWebApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width:20cm;margin:10px;">

            <div class="card-body">
                <div class="card-title">
                    <h2><strong>Item Ordered:</strong> @item.OrderItem</h2>
                </div>
                <div class="card-text">
                    <p><strong>Quantity:</strong> @item.Quantity</p>
                    </div>
                    <div class="card-text">
                    <p><strong>Spice Level:</strong> @item.SpiceLevel</p>
                    </div>
                    <div class="card-text">
                    <p><strong>Cost:</strong> @item.Cost</p>
                    </div>
                    <div class="card-text">
                    <p><strong>Customer:</strong> @item.CustomerID</p>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.OrderID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.OrderID" class="btn btn-primary">Delete</a>

            </div>
        </div>
    }
</div>